<div class="sidebar">
    <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">
      <span class="menu-text">Home</span>
    </a>
    <a href="/recipes" class="<%= activePage === 'recipes' ? 'active' : '' %>">
      <span class="menu-text">Recipes</span>
    </a>
    <a href="/recipes" class="<%= activePage === 'recipes' ? 'active' : '' %>">
      <span class="menu-text">Recipes</span>
    </a>
    <a href="/create-recipe" class="<%= activePage === 'create-recipe' ? 'active' : '' %>">
      <span class="menu-text">create recipe</span>
    </a>
    <a href="/user-page" class="<%= activePage === 'user-page' ? 'active' : '' %>">
      <span class="menu-text">profile</span>
    </a>
  </div>
  